<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<head>
    <meta charset="UTF-8">
    <title>Информация об аниме</title>
<style>
    body{
        background-color: #eeeeee;
    }
</style>
</head>
<body>
<header th:insert="Blanks/Head"/>
<br>
<div th:each="pro:${anime}" align="center" >
    <h4>
            <div th:each="pro:${anime}">
                <img th:src="${pro.getImg()}" width="350px"/><br><br>
                <span class="badge text-bg-dark">Название:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getName()}" >name</a><br>
                <span class="badge text-bg-dark">Описание:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getOpis()}">opis</a><br>
                <span class="badge text-bg-dark">Количество серий:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getQuantity().getCol()}">quantity</a><br>
                <span class="badge text-bg-dark">Тип:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getType().getStreet()}">type</a><br>
                <span class="badge text-bg-dark">Статус:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getStatus().getStat()}">status</a><br>
                <span class="badge text-bg-dark">Озвучка:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getOzvuch().getOzv()}">ozvuch</a><br>
                <span class="badge text-bg-dark">Студия:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getStudio().getStud()}">studio</a><br>
                <span class="badge text-bg-dark">Рэйтинг MPAA:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getMpaa().getMpaa()}">mpaa</a><br>
                <span class="badge text-bg-dark">Возрастные ограничения:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getAge().getAg()}">age</a><br>
                <span class="badge text-bg-dark">Источник:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getSource().getSour()}">source</a><br>
                <span class="badge text-bg-dark">Год выпуска:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getYear().getYea()}">year</a><br>
                <span class="badge text-bg-dark">Жанр:</span>
                <a class="badge text-bg-secondary" th:text="${pro.getGenre().getGenr()}">genre</a><br>
            </div>
    </h4>
</div>
</body>
</html>