<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<head>
  <title>Добавить аниме</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="Blanks/Head"/>
<div align="center">
  <h1>
    <span class="badge text-bg-dark" style="margin-bottom: 20px">Добавление аниме</span>
  </h1>
  <form th:action="${'/Anime/add'}" method="post" >


    <div th:each="pro : ${anime}">
    <input th:text="*{pro.name}" type="text" name="name" placeholder="Имя" required style="margin-bottom: 20px">
    </div><br>

    <div th:each="pro : ${anime}">
    <input th:text="*{pro.opis}" type="text" name="opis" placeholder="Описание" required style="margin-bottom: 20px">
    </div><br>

    <div th:each="pro : ${anime}">
      <input th:text="*{pro.img}" type="text" name="img" placeholder="Картинка" required style="margin-bottom: 20px">
    </div><br>

    <select name="col">
      <div th:each="pro : ${quantity}">
        <option th:value="${pro.id}" th:text="${pro.col}"></option>
      </div>
    </select><br><br>

    <select name="street">
      <div th:each="pro : ${type}">
        <option th:value="${pro.id}" th:text="${pro.street}"></option>
      </div>
    </select><br><br>

    <select name="stat">
      <div th:each="pro : ${status}">
        <option th:value="${pro.id}" th:text="${pro.stat}"></option>
      </div>
    </select><br><br>

    <select name="ozv">
      <div th:each="pro : ${ozvuch}">
        <option th:value="${pro.id}" th:text="${pro.ozv}"></option>
      </div>
    </select><br><br>

    <select name="stud">
      <div th:each="pro : ${studio}">
        <option th:value="${pro.id}" th:text="${pro.stud}"></option>
      </div>
    </select><br><br>

    <select name="mpaa">
      <div th:each="pro : ${mpaa}">
        <option th:value="${pro.id}" th:text="${pro.mpaa}"></option>
      </div>
    </select><br><br>

    <select name="ag">
      <div th:each="pro : ${age}">
        <option th:value="${pro.id}" th:text="${pro.ag}"></option>
      </div>
    </select><br><br>

    <select name="sour">
      <div th:each="pro : ${source}">
        <option th:value="${pro.id}" th:text="${pro.sour}"></option>
      </div>
    </select><br><br>

    <button type="submit" class="btn btn-lg btn-success">Добавить аниме</button><br><br>
  </form>
</div>
</form>
</body>
</html>